body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}
.description{
  background-color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  
  color: #333;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.section {
  padding: 50px 0;
}

.product {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.product img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product .popularity {
  color: #ffa500;
}

.product a {
  background-color: #ffd700;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product a:hover {
  background-color: #ffc400;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


ul {
  list-style-type: none; /* Supprimez les puces des listes */
  margin: 0;
  padding: 0;
}

li {
  display: inline; /* Affichez les éléments de la liste en ligne */
}

a {
  text-decoration: none; /* Supprimez la décoration de texte par défaut des liens */
  color: #fff; /* Définissez la couleur du texte des liens */
  padding: 10px 20px; /* Ajoutez de l'espacement autour des liens */
}
.qa{
  border-radius: 9px;
  height: 40px;

}
.m{
  color: whitesmoke;
}
.pa{
  color: whitesmoke;
}
.mama{
  background-color: grey;
}
table{
  background-color: grey;
}
.m{
  color: black;
}